body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.back-link {
    display: block;
    text-align: left;
    color: #000;
    margin-bottom: 20px;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    margin: 10px 0;
    font-size: 24px;
    text-align: left;
}

h2 {
    margin: 0;
    font-size: 18px;
    text-align: left;
}
h3 {
    font-size: 14px;
    margin: 20px 0;
    text-align: center;
    font-weight: lighter;
}

.alert {
    display: none;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    text-align: left;
}

.social-login {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.google-btn, .facebook-btn {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border-color: #3C71FF;
  border-width: 1.5px;
  background-color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}
.google-btn:hover{
  color: #fff;
}

.facebook-btn:hover {
  color: #fff; 
}

.social-login button:hover {
    background-color: #3C71FF;  
}

p {
    font-size: 14px;
    margin: 20px 0;
    text-align: left;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 20px;
    width: 48%;
    
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}
input[type="email"],
input[type="password"] {
    width: 400px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}
input[type="text"].error,
input[type="email"].error,
input[type="password"].error {
    border-color: red;
}

input[type=text]:focus, input[type=password]:focus,input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }


.checkbox {
    transform: scale(2);
    background-color: #eaeaea;
    border: 2px solid #000;
    padding: 8px;
    border-radius: 4px;
}
  
.checkbox:checked {
    background-color: #000;
    color: #fff;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    left: 370px;
    top: 15px;
    cursor: pointer;
}

.password-hint {
    font-size: 12px;
    color: #888;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.agreement {
    width: 400px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    color: #757575;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 17.5px;
    text-align: left;
  }

.error {
    color: red;
    font-size: 0.9em;
    display: none;
    text-align: left;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3C71FF;
    ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
}

.login-link a {
    color:  #3C71FF;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
